<!--    Noah Hendricks
        Student ID: 1900219
        CIS 3368 - 22693 Homework 3, Spring 2021
        Web front-end that lists information about programming languages
-->

<!-- Index Ejs File -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>

</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <!-- Title for website main page-->
        <h1><u>Top Programming Languages</u></h1>

        <!-- Calling the local tagline variable from app.js and displaying its' string-->
        <p><%= locals.tagline %></p>
        <ul>
            <!-- Calling the local languages variable and running a for loop to display all named programming languages within this variable -->
            <% if (locals.languages) { %>
                <% locals.languages.forEach(function(language) { %>
                    <li>
                        <!--Calling that specific Program Language Name... Occurs 5 times because we have 5 coding languages-->
                        <strong><%= language.name %></strong>
                    </li>
                <% }); %>
            <% }; %>
        <br>
        </ul>

        <!-- simple statement for user to see -->
        <p> Please select a programming language below:</p>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Select Language
            </button>
            <!-- **aria-labelledby** Ref Link: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-labelledby_attribute -->
            <!-- **JS DropDown Menu** Ref Link: https://www.w3schools.com/howto/howto_js_dropdown.asp -->
            <!-- Creation of the drop-down menu selection using the aria-labelledby attribute -->
            <!-- Each selection option is reperesneted by their respected programming language and has unique result links for each (5 total)-->
            <ul id="language-menu" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

            <!--Creating dropdown list option and resulting link for PYTHON-->
            <li><a class="dropdown-item" href="#">Python</a></li>

            <!--Creating dropdown list option and resulting link for C-->
            <li><a class="dropdown-item" href="#">C</a></li>

            <!--Creating dropdown list option and resulting link for JAVA-->
            <li><a class="dropdown-item" href="#">Java</a></li>

            <!--Creating dropdown list option and resulting link for C#-->
            <li><a class="dropdown-item" href="#">C#</a></li>

            <!--Creating dropdown list option and resulting link for JAVASCRIPT-->
            <li><a class="dropdown-item" href="#">JavaScript</a></li>
            </ul>
        </div>

            <!--Creation of the submit button for user-->
            <br><button class="btn btn-primary submit-btn">SUBMIT</button>



            <!-- If the details field is set when the server sends renders the 
            file, the table containing the necessary JSON fields and their 
            respective values are displayed. Otherwise a blank section is 
            displayed by default -->
            <section id="result">
    
                <!--**typeof operator** Ref Link: https://www.w3resource.com/javascript/operators/typeof.php#:~:text=The%20typeof%20operator%20is%20used,operator%20returns%20the%20data%20type -->
                <!-- "typeof details" tells what type the variable is. For example a string, number, undefined, etc. -->
                <!--Creation of the bootstrap table and fills data of its' corresponding values for each row-->
                <% if (typeof details == 'object' && details) { %>
                    <!--Bootstrap table creation-->
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
    
                            <!--Column Header for all Row Titles-->
                            <th><u><b>Programming Language Headings</b></u></th>
    
                            <!--Column Header for all row fields-->
                            <th><u><b>Programming Language Description</b></u></th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr>
                                <!--ID Fields: ID title and ID value(s)-->
                                <td><b><i>ID</i></b></td>
                                <!--EJS call for parsed ID value of the selected programming language-->
                                <td><%= details.id %></td>
                            </tr>
                            <tr>
    
                                 <!--Name Fields: Name title and Name value(s)-->
                                <td><strong><b>Name</b></strong></td>
                                <!--EJS call for parsed Name value of the selected programming language-->
                                <td><b><b><%= details.name %></b></b></td>
                            </tr>
                            <tr>
    
                                 <!--Date Created Fields: Date Created title and Date Created value(s)-->
                                <td><b><i>Date Created</i></b></td>
                                <!--EJS call for parsed createdAt value of the selected programming language-->
                                <td><%= details.createdAt %></td>
                            </tr>
                            <tr>
    
                                 <!--Created By Fields: Created By title and Created By value(s)-->
                                <td><b><i>Created By</i></b></td>
                                <!--EJS call for parsed createdBy value of the selected programming language-->
                                <td><%= details.createdBy %></td>
                            </tr>
                            <tr>
    
                                 <!--Market Share Percentage Fields: Market Share Percentage title and Market Share Percentage value(s)-->
                                <td><b><i>Market Share Percentage</i></b></td>
                                <!--EJS call for parsed marketSharePercent value of the selected programming language-->
                                <td><%= details.marketSharePercent %></td>
                            </tr>
                            <tr>
    
                                 <!--Typing Discipline Fields: Typing Discipline title and Typing Discipline value(s)-->
                                <td><b><i>Typing Discipline</i></b></td>
                                <!--EJS call for parsed typingDisciplines value of the selected programming language-->
                                <td><%= details.typingDisciplines %></td>
                            </tr>
                        </tbody>
                        </table>
                <% } %>
            </section>





        <!-- *Back Button** Ref Link https://www.w3schools.com/jsref/met_his_back.asp -->
        <!-- Creation of the back button to go to previous page -->
        <br><br><br><br><button class= "btn btn-danger"  onclick="goBack()">Go Back <br></button>
       <script>
        function goBack() {
        window.history.back();
        }
        </script>

    </main>

    <footer>
        <%- include('../partials/footer'); %>

    </footer>

    <!-- **src** Ref Link: https://www.w3schools.com/tags/att_script_src.asp -->
    <!--External script file (script.js) for entire program -->
    <!--Allows same JavaScript to run on several pages within the website -->
    <script src="script.js"></script>

</body>
</html>
