<!--      
        Noah Hendricks
        Patrick Kurth
        Student ID: 1900219
        CIS 3368 - 22693 Homework Final Project, Spring 2021
        Movie Night Organizer App
-->

<!-- Webpage Route for the selected friend from the dropdown menu -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
        
    </header>

    <main>

        <!-- created a dynamic form for the deletion of a friend -->
        <form class="form" action="/delete_friend" method="DELETE">
          <div class="form-group mb-3">

            <!-- Unique titles of class and name for this specific form -->
              <select class="form-control" name="friendid">

                <!-- Calls the friend array and puts each existing friend inside a for loop-->
                  <% locals.friendArray.forEach(friend=> { %>

                    <!-- Puts each friend in the dropdown selection by calling their id's but showcases their first and last names-->
                      <option value="<%= friend.id %>">

                            <!-- Pulling of the first name and last name to be displayed in the dropdown menu-->
                          <%= friend.firstname %> <%= friend.lastname %>
                      </option>
                      <% }) %>
              </select>
          </div>

          <!-- Creation of bootstrap style button -->
          <!-- Submit button for form to proceed the action-->
          <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    
    
      </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>
